[2018-06-22 03:50] CrazyBunQnQ opened #24 "How can I download the Liferay Server to the local cache?"
## 请问我如何才能将 Liferay Server 下载到 local cache 中呢？
您好，我在 initBundle 的时候下载 Liferay Server 很慢，需要几个小时，所以手动下载了 Liferay Server 文件，并放到对应目录：
![dir](http://wx2.sinaimg.cn/large/a6e9cb00ly1fsjspn5tysj21kw0nah65.jpg)
但是再次执行 initBundle 时还是重新下载 Liferay Server 文件并将我下好的文件覆盖了。
您在 README 中写道：

请问我如何才能将 Liferay Server 下载到 local cache 中呢？

## Hello, I'm sorry my English is a bit poor...
I was slow to download while run

[2018-06-22 05:04] jtydhr88 commented on #24
hey @CrazyBunQnQ
你可以把liferay portal的zip放到你的liferay workspace项目的根目录下，解压缩后将文件夹重命名为bundles，然后在intellij里面添加liferay server的时候能自动识别了，不需要再运行initBundle

[2018-06-22 06:00] CrazyBunQnQ commented on #24
@jtydhr88 谢谢，可以啦！

[2018-06-22 06:00] #24 closed

[2018-07-06 02:33] Camork opened #44 "Bug: update failed for AnAction with ID=LiferayActionGroup when Intellij indexing files"
Step to reproduce:
1. Open or import a Gradle Liferay workspace project.
2. Intellij will index all files After gradle done with building project.
3. In this indexing process right click workspace project and point to Liferay menus, error popup.
[code]

[2018-07-06 03:16] haoyisun opened #45 "Need connect gogoshell in manual after start liferay runtime"
1.start a liferay runtime
2.open gogoshell client at intellij, need open localhost 11311 in manual

Environment:  win10  jre1.8

[2018-07-06 03:23] haoyisun opened #46 "Run lb command can't show all of modules at gogoshell"
run "lb" command, only show a part of modules, it's not about seekbar

[2018-07-06 03:45] jtydhr88 commented on #45
what is this for? the Gogo shell view should not be related to watch task.

[2018-07-06 05:53] haoyisun commented on #45
sorry, I get wrong, and re-edit my comment @jtydhr88

[2018-07-30 12:49] dmarks2 opened #58 "Code Completion for CSS classes for Liferay Taglibs"
Many attributes for Liferay Taglibs refer to CSS classes. It would be nice if IntelliJ would suggest the known CSS classes for those attributes.

E.g. for `<aui:field-wrapper cssClass="foo" ... />` IntelliJ should suggest available CSS classes for the `cssClass` attribute.

See section about CSS classes in my own plugin at [Editing JSP files](https://github.com/dmarks2/liferay-plugin-intellij/blob

[2018-07-30 12:54] dmarks2 opened #59 "Code Completion for resource bundle keys for Liferay Taglibs"
Many attributes for Liferay Taglibs refer to keys inside resource bundles. It would be nice if IntelliJ would suggest the known keys for those attributes.

E.g. for `<liferay-ui:message key="foo" ... />` IntelliJ should suggest available keys inside resource bundles for the `key `attribute.

See section about resource bundles in my own plugin at [Editing JSP files](https://github.com/dmarks2/lifer

[2018-07-31 07:35] chrberndt opened #60 "Move this repo to a more "official" location?"
Since version 1.0.0 of this plugin has been released, wouldn't it be appropriate to move this repository back to a more "official" location (somewhere beneath https://github.com/liferay/) ? I think, this could be beneficial to gain developers trust and increase the adoption of the plugin.

[2018-07-31 07:41] jtydhr88 commented on #60
@gamerson how do you think?

[2018-07-31 13:30] gamerson commented on #60
I'll get things in motion today.

On Tue, Jul 31, 2018 at 2:41 AM, Terry Jia <notifications@github.com> wrote:

--
Greg Amerson
Liferay Backend Developer Tools
Liferay, Inc. www.liferay.com

[2018-07-31 17:56] gamerson commented on #60
Done!  https://github.com/liferay/liferay-intellij-plugin

If you want our "tests" to run, you must submit those pull requests to my fork here: https://github.com/gamerson/liferay-intellij-plugin

But don't worry, if you send them to this repo, I can re-send them to my fork to get our CI tests to run.

[2018-07-31 17:56] #60 closed

[2018-08-03 07:12] dantewang opened #61 "Avoid showing "never assigned" warning for fields annotated by Reference or Inject"
IntelliJ IDEA by default checks whether a field in a class is assigned; if not, it highlights the field with waved underline and a warning "field _fieldName is never assigned".

In Liferay, a developer can use `Reference` annotation on a field so that the field is assigned by the OSGi framework:

![reference-annotation](https://user-images.githubusercontent.com/1185063/43629181-2b1f7d14-972f-11e8-

[2018-08-03 07:59] dmarks2 commented on #61
Should be rather easy to implment. IntelliJ does the same e.g. for Spring annoations like @Autowired. It can be done using an "ImplicitUsageProvider" in the plugin.

I will have a look at it and implement such an ImplicitUsageProvider.

[2018-08-07 12:47] dmarks2 opened #62 "Code Completion, Syntax highlighting etc. for Javascript in Liferay Taglibs"
Several attributes of Liferay tags support the use of Javascript. E.g. `<aui:a onClick="" />` or inside the tag itself like `<aui:script>` or `<aui:validator>`.

I would like to add a functionality to allow syntax highlighting, code completion, syntax checking etc. for those attributes and tags.

Example before:
![image](https://user-images.githubusercontent.com/10325752/43776601-a4b965bc-9a50-11e

[2018-08-13 06:54] dmarks2 commented on #59
Functionality is implemented

[2018-08-13 06:54] #59 closed

[2018-08-14 03:38] JesseRo opened #64 "liferay tomcat path error"
![98br4k5wrh9l2b d706n 2](https://user-images.githubusercontent.com/14294862/44070325-cb561a2a-9fb5-11e8-9710-ae480c3c2a3e.png)
The plugin worked well, till i reboot my computer..

[2018-08-14 04:28] gamerson commented on #64
hey @jtydhr88  could you take a look?

[2018-08-14 11:09] jtydhr88 commented on #64
hey @JesseRo what’s your full location of the portal?

[2018-08-15 01:46] JesseRo commented on #64
@jtydhr88
_C:/dev/liferay-ce-portal-7.0-ga3_
 is the portal location.
_C:/Users/Jesse/Document/UserSync_
 is a liferay workspace module

[2018-08-15 02:05] jtydhr88 commented on #64
hey @JesseRo can you post the page of your server config?

[2018-08-15 02:07] jtydhr88 commented on #64
also can you post the full error log? thanks a lot

[2018-08-15 05:05] JesseRo commented on #64
the thing is that the server config page is not available..
![r 3eg2 d79 nkxxghy80dm](https://user-images.githubusercontent.com/14294862/44132345-a097bbdc-a08b-11e8-8e63-4ff7e1c1598d.png)

here is the full log:
Illegal char <:> at index 35: C:/Users/Jesse/Documents/UserSync\C:\dev\liferay-ce-portal-7.0-ga3
java.nio.file.InvalidPathException: Illegal char <:> at index 35: C:/Users/Jesse/Documents/U

[2018-08-15 05:38] JesseRo commented on #64
i believe it's 1.0.0
i manually download the .zip file and _install plugin from disk_

[2018-08-15 05:42] jtydhr88 commented on #64
can you help to check version in your IntelliJ plugin page?

[2018-08-15 05:55] JesseRo commented on #64
![2 qx c5 r q sre423w01](https://user-images.githubusercontent.com/14294862/44133520-c055c322-a092-11e8-8bab-f2d408366ef4.png)
that is the plugin setting page.

[2018-08-15 06:25] jtydhr88 commented on #64
hey @JesseRo thanks a lot, we have reproduce this error and we will fix it soon. thanks again.

[2018-08-15 08:25] JesseRo commented on #64
glad to help :)

[2018-08-15 08:28] jtydhr88 commented on #64
Actually we already fix it on the master, if you would like that you can build the plugin locally(see the home page), but I want to add more validation in next release

[2018-08-16 10:50] garyttierney opened #65 "Code assistance for Liferay taglibs in FreeMarker templates"
This is a feature that will only work on IntelliJ Ultimate (requires JavaEE support).

The plugin maintained by @dmarks2 has support for parsing JSTL desriptors and feeding the result into the `FtlGlobalVariableProvider` [extension](https://github.com/dmarks2/liferay-plugin-intellij/blob/master/src/main/java/de/dm/intellij/liferay/language/freemarker/LiferayFtlVariableProvider.java).

[2018-08-16 12:12] jtydhr88 commented on #64
fixed by https://github.com/liferay/liferay-intellij-plugin/commit/bd4831b7f7aca4f245cc803bf9ee83b370f9dd72

[2018-08-16 14:42] jtydhr88 opened #66 "disable to index the bundles folder in Liferay workspace project"
after run initBundle, there will be bundle folder (tomcat) inside the Liferay workspace project. Intellij Ultimate will auto-detect this folder.
![1](https://user-images.githubusercontent.com/860985/44215741-d7fa9700-a1a5-11e8-889d-a85a1541411e.png)
![2](https://user-images.githubusercontent.com/860985/44215651-9b2ea000-a1a5-11e8-9a46-ee97a3f06cb7.png)
should to disable to index this folder.

[2018-08-17 07:56] dmarks2 commented on #66
Hey @jtydhr88,
that could probably be done by marking the bundle directory as an excluded folder. As far as I know excluded folders are not examined or indexed by IntelliJ.

I my own plugin I do the same for "build" and "dist" directories which are created by npm/gulp when you compile a theme or layout template.

See an example here: https://github.com/dmarks2/liferay-plugin-intellij/blob/e8098375

[2018-08-17 08:04] jtydhr88 commented on #66
thanks a lot @dmarks2, I will take a look at it later

[2018-08-17 09:27] jtydhr88 opened #67 "As an OSGi developer, I would like a view to show the information of bundles"
Mostly same as the run command **lb -s** in gogo shell
I made a demo table for this view in IntelliJ, It may looks like
<img width="1184" alt="2018-08-17 5 20 46" src="https://user-images.githubusercontent.com/860985/44258884-9a981700-a242-11e8-9990-0e9738746bc2.png">
and with some useful actions **start**, **stop**, **restart**, and list bundles with **filter**(s)

[2018-08-17 09:37] jtydhr88 opened #68 "As a Liferay workspace developer, I would like a project configuration page for Liferay workspace"
Right now we can config the properties of Liferay workspace in gradle.properties.
It is better to have a page in Project Settings and with some validation or recommendation.
<img width="895" alt="2018-08-17 5 33 40" src="https://user-images.githubusercontent.com/860985/44259470-23fc1900-a244-11e8-982b-a2d889dd4c4f.png">

[2018-08-18 12:41] jtydhr88 opened #69 "Null Exception"
![default](https://user-images.githubusercontent.com/860985/44299364-ee7c2c00-a326-11e8-9ead-8133e948cb4b.png)
hey @dmarks2, the exception seems caused by your changes, can you help to check it out? thanks.

[2018-08-19 03:33] neilking opened #70 "AS a developer who use to use IDE, I would like a workflow editor."
Want to see workflow editor on IntelliJ to make more use of it.

[2018-08-20 07:50] dmarks2 commented on #69
Hey @jtydhr88, I submitted a pull request to you to fix the exception.

[2018-08-20 14:25] jtydhr88 opened #71 "It has to restart the IDEA to make the jsp context works"
create Liferay Workspace project and create a mvc portlet
open the view jsp, the jsp include tag will be marked as not found.
![6](https://user-images.githubusercontent.com/860985/44345602-5d43bb80-a4c6-11e8-86b6-abbe98a5b9e2.png)
![7](https://user-images.githubusercontent.com/860985/44345952-51a4c480-a4c7-11e8-95b9-462f113880bf.png)
but it will be ok after restart the IDEA.
![8](https://user-imag

[2018-08-20 21:05] #69 closed

[2018-08-21 02:09] #45 closed

[2018-08-21 02:09] #46 closed

[2018-08-21 02:18] #61 closed

[2018-08-21 13:29] dmarks2 commented on #58
Functionality has been implemented

[2018-08-21 13:29] #58 closed

[2018-08-22 02:59] Camork opened #72 "Can't start portal after Initbundle"
Encounter serveral times, but it's hard to reproduce. Just init a new bundle and create server configuration, then the event log popup:

`Error running 'Unnamed': com/liferay/ide/idea/util/PortalPropertiesConfiguration`

 idea.log :  `java.lang.NoClassDefFoundError: com/liferay/ide/idea/util/PortalPropertiesConfiguration
	at com.liferay.ide.idea.server.LiferayServerCommandLineState._configureDevel

[2018-08-22 06:46] Camork opened #73 "bug: Content equals, but it must be handled not on this level: file rest_main.iml"
### How to reproduce:
I'm working on this workspace [liferay-blade-samples](https://github.com/liferay/liferay-blade-samples/tree/master/liferay-workspace), this error happend after gradle building

[code]

[2018-08-22 23:29] jtydhr88 commented on #71
Thanks @dmarks2, Greg and I are busy on IDE release this week, we will plan to release the version of idea plugin next week or next next week.

[2018-08-25 14:37] jtydhr88 opened #74 "As a DB developer, I would like a quick way to create the DB connection by portal-ext.properties"
Mostly, we could config the DB settings in portal-ext.propertes like
jdbc.default.driverClassName=com.mysql.jdbc.Driver
jdbc.default.url=
jdbc.default.username=
jdbc.default.password=
It should be created the DB connection by these settings quickly
![2](https://user-images.githubusercontent.com/860985/44619337-62827b00-a8b7-11e8-9d27-697c75288ab7.png)
![3](https://user-images.githubusercontent.com

[2018-08-28 09:52] Camork opened #75 "Module name validation bug"
Here are two module name validation bug
1.If a workspace named 'untitled' then create a module project with same name in './module' folder, there will be a empty folder 'untitled' after being noticed error.
2.Create same named module project in same folder ,the latest project will not be created without be noticed.

[2018-08-28 10:07] jtydhr88 opened #76 "add Liferay Frontend Support"
we should add the Liferay Frontend Support on the module projects similar as **Web**
<img width="893" alt="2018-08-28 6 04 13" src="https://user-images.githubusercontent.com/860985/44716492-0acd5500-aaed-11e8-9ddd-56eb42b7fbe5.png">
it should only be saw by Intellij but not for compiling.

[2018-08-28 10:12] jtydhr88 commented on #62
hey @dmarks2, as talking with @gamerson, add the frontend as the gradle dependency is not the correct way for Developers, but we could add the some thing like **Web** support we already done.
I opened the issue #76 for it and we may work on it in next version

[2018-08-28 14:49] dmarks2 commented on #76
Hello @jtydhr88 ,

to improve support for frontend Javascript libraries I would suggest to let the IntelliJ plugin add JavaScript libraries automatically.

In IntelliJ you can already add Javascript libraries in the Settings at **Languages & Frameworks** --> **JavaScript** --> **Libraries**. If you add libraries here they will be recognized by IntelliJ, so that code completion etc. works.

So I su

[2018-08-29 07:20] dantewang opened #77 "Feature: Make the list of "injecting" annotations configurable"
This is related to https://github.com/liferay/liferay-intellij-plugin/issues/61

In #61, the `@Inject` annotation in the screenshot was actually `com.liferay.portal.test.rule.Inject`.

Additionally, `@Inject` could also mean `javax.inject.Inject`, which is used by Portlet Spec 3.0 "Bean Portlet".

It will be great to make this list configurable; or at least add the two above to the list.

[2018-08-29 08:10] Camork opened #78 "Error popup when set liferayWorkspace plugin version to 'latest.release'"
It hapenned every time when you open the folder menu, it because we try to parse this uncommon version string.

[2018-08-29 12:53] jtydhr88 commented on #76
Thanks @dmarks2 , I agree with you, we need to use this way

[2018-08-29 14:00] dmarks2 commented on #77
@dantewang I would prefer to just add those two annotations to the plugin. To make it configurable we would need an user interface (or similar). And I think the "normal" developer would not like to configure those annotations manually.

[2018-08-30 03:40] dantewang commented on #77
@dmarks2 Thanks! I'm definitely OK with that.

[2018-08-30 08:32] chrberndt opened #79 "Where to report issues with liferay-workspace?"
Hi guys,
where should I report / fix issues concerning the liferay-workspace?
Thanks,
Christian

[2018-08-30 08:37] jtydhr88 commented on #79
hey Christian,
add some information or description in this issue will be ok, I will take a look at it and move it to the correct place if need.

[2018-08-30 08:56] chrberndt commented on #79
Hi Terry, Thanks!
only two minor issues:

1st: In gradle.properties of the liferay-workspace created with LDS 3.3 the comment says:

    #
    # Set the URL pointing to the bundle Zip to download. If the URL points to a
    # DXP bundle (e.g., https://api.liferay.com/...), set the
    # "liferay.workspace.bundle.token.download" property to true. The default
    # value is the URL for **Liferay Por

[2018-08-30 09:07] gamerson commented on #79
hey @chrberndt

Thanks for the input.

Both of those issues will be fixed very shortly.  For 1st one it will be fixed in upcoming release of the plugin.  For the 2nd issue, it always will be addressed in some upcoming documentation updates that will explicitly call out what this gradle-local.properties will do.

[2018-08-30 09:07] #79 closed

[2018-08-30 09:30] chrberndt commented on #79
Hi @gamerson - this was fast! Thanks a lot!
For issues regarding Liferay Developer Studio I have to use JIRA - or is there a fast lane on github as well?

[2018-08-30 10:08] dmarks2 commented on #77
@jtydhr88 sent as https://github.com/jtydhr88/liferay-intellij-plugin/pull/27

[2018-08-31 02:05] gamerson commented on #79
For DevSTudio just use IDE project in JIRA.

On Thu, Aug 30, 2018 at 4:30 AM, Christian Berndt <notifications@github.com>
wrote:

--
Greg Amerson
Liferay Backend Developer Tools
Liferay, Inc. www.liferay.com

[2018-08-31 02:05] gamerson commented on #79
For intellij-plugin we are going to create a INTELLIJ project in JIRA as
well.

On Thu, Aug 30, 2018 at 9:04 PM, Greg Amerson <gregory.amerson@liferay.com>
wrote:

--
Greg Amerson
Liferay Backend Developer Tools
Liferay, Inc. www.liferay.com

[2018-08-31 14:20] #62 closed, assigned to nobody

[2018-09-03 14:17] dmarks2 opened #80 "Some issues for Javascript injection inside <aui:validator>-Tag"
The `<aui:validator>`-Tag supports custom Javascript to write customized validation rules. There are some issues with the `<aui:validator>`-Tag, which I would like to track in this ticket and will try to fix them in one of the next versions of the plugin.

1. "custom" is not offered as autocomplete option for the `<aui:validator>`-Tag

2. When using the `<aui:validator>`-Tag with a different name

[2018-09-04 08:49] dantewang commented on #77
Thanks @dmarks2 !

[2018-09-04 08:49] #77 closed

[2018-09-04 13:25] simon387 opened #81 "Exception in plugin Liferay Intellij Plugin"
random appears while working in Intellij

[code]

[2018-09-05 01:36] Camork commented on #81
Hey @simon387, thanks for catching that and I had a pr [here](https://github.com/jtydhr88/liferay-intellij-plugin/pull/28/commits/7de95dd41201307969080b0bde731e0a52de3fe7).

[2018-09-05 03:15] gamerson commented on #81
Fixed in https://github.com/liferay/liferay-intellij-plugin/commit/2ab3682edbe3abcad2b15038405788177d2972aa

[2018-09-05 22:28] #71 closed

[2018-09-12 05:50] Camork commented on #75
Merged in https://github.com/gamerson/liferay-intellij-plugin/pull/39https://github.com/gamerson/liferay-intellij-plugin/pull/39

[2018-09-12 05:50] #75 closed

[2018-09-18 11:16] dmarks2 commented on #80
has been merged

[2018-09-18 11:16] #80 closed

[2018-09-18 14:27] gamerson commented on #76
Moved to JIRA project: https://issues.liferay.com/browse/INTELLIJ-1

[2018-09-18 14:27] #76 closed

[2018-09-20 03:35] jtydhr88 commented on #66
Moved to JIRA project: https://issues.liferay.com/browse/INTELLIJ-3

[2018-09-20 03:35] #66 closed

[2018-09-20 03:39] Camork commented on #73
Moved to https://issues.liferay.com/browse/INTELLIJ-4

[2018-09-20 03:39] #73 closed

[2018-09-20 03:47] jtydhr88 commented on #74
Moved to JIRA ticket https://issues.liferay.com/browse/INTELLIJ-5

[2018-09-20 03:47] #74 closed

[2018-09-20 03:50] jtydhr88 commented on #67
Moved to JIRA ticket: https://issues.liferay.com/browse/INTELLIJ-6

[2018-09-20 03:50] #67 closed

[2018-09-20 03:51] jtydhr88 commented on #68
Moved to JIRA ticket: https://issues.liferay.com/browse/INTELLIJ-7

[2018-09-20 03:51] #68 closed

[2018-09-20 03:52] jtydhr88 commented on #70
Moved to JIRA ticket https://issues.liferay.com/browse/INTELLIJ-8

[2018-09-20 03:52] jtydhr88 commented on #65
Move to JIRA ticket https://issues.liferay.com/browse/INTELLIJ-9

[2018-09-20 16:28] #65 closed

[2018-09-20 16:28] #70 closed

[2018-10-05 08:49] simon387 opened #82 "Can't create new module"
Hello,

if I try to create a new sub-module by right clicking the parent one (Liferay -> Liferay Maven Workspace -> Finish)

I got this error:

popup:

**Error adding module to project: null**

logs:

[code]

idea version:
[code]

[2018-10-05 09:05] Camork commented on #82
Hey @simon387, can you let me know how do you install the liferay plugin?

[2018-10-05 09:20] simon387 commented on #82
I think i compiled it from source (after the correction of this [issues](https://github.com/liferay/liferay-intellij-plugin/issues/81)) and then downloaded the latest version from the IDEA plugin upgrade popup

[2018-10-05 09:27] Camork commented on #82
Did you install the jar from location `build/distributions/liferay-intellij-plugin-<version>.zip` ?  That's the right one.

[2018-11-10 07:33] dmarks2 commented on #76
Hey @jtydhr88, hey @gamerson,

I did a lot of research about how to implement this properly. We should automatically add the Liferay Javascript files as "libraries" (as shown above). However which files we add here depends on the Liferay version the developer is using.

To add Javascript libraries in the IntelliJ plugin we have to create so called "ScriptingModels". Those expect that the Javascrip

[2018-11-20 09:40] jtydhr88 commented on #76
hey @gamerson do you need a call to talk about this?

[2018-11-20 09:54] jtydhr88 commented on #76
@dmarks2 please feel free to open issues in github, I can help to move it to JIRA.

[2018-11-22 08:05] dmarks2 opened #83 "Additional JSP Taglibs attributes for language keys and css attributes"
There are some more taglibs which support langage keys and css attributes. I would like to add support for the following taglibs:

- liferay-ddm
- liferay-site
- liferay-staging
- liferay-editor
- liferay-adaptive-media
- clay

@jtydhr88 Could you please create a JIRA issue for this?

[2018-11-22 10:33] jtydhr88 commented on #83
open here: https://issues.liferay.com/browse/INTELLIJ-24

[2018-11-22 12:42] #83 closed

[2018-11-27 10:51] dmarks2 opened #84 "Updated schema for portlet-model-hints.xml"
There are some small additions for the schema provided for portlet-model-hints.xml
* The schema should also apply to portlet-model-hints-ext.xml
* Some more hints are possible, like "default-year-delta", "check-tab" or "autoSize"

@jtydhr88 Could you please create a JIRA issue for this?

[2018-11-28 12:09] #84 closed

[2018-12-03 09:41] dmarks2 opened #85 "Classname and Java Bean properties code completion for JSP taglibs"
For some JSP tags you can provide a Java classname or refer to a Java Bean property. I would like to add code completion for those tags, e.g. adding a classname for `<aui:model-context model='classname'>` or refering to a bean property for `<aui:input name='property'>`.

![jsp_classname](https://user-images.githubusercontent.com/10325752/49365733-d10d7b00-f6e7-11e8-8d41-d7035fd76490.gif)

@jtydhr8

[2018-12-03 10:10] jtydhr88 commented on #85
open here https://issues.liferay.com/browse/INTELLIJ-27

[2018-12-09 20:28] agiove opened #86 "7z support during initBundle for Liferay 7.1.1 GA2"
initBundle process stop running after the download of a Liferay 7.1.1 ga2 archive because of the new 7z extension. It's not possible to unzip a 7z archive.

[2018-12-10 14:36] agiove commented on #86
tar.gz works as expected, thanks.

[2018-12-10 14:36] #86 closed

[2018-12-19 13:20] #85 closed

[2018-12-21 06:34] jtydhr88 commented on #76
hey @dmarks2 actually I think we could only support the latest version is ok instead of supporting all of exciting versions

[2019-01-02 09:09] dmarks2 commented on #81
To get notified about crashes in the plugin, you can implement an "errorHandler" in IntelliJ. By this, any developer using the plugin can send crash reports. I've seen implementations which automatically create github issues or Jira issues. Maybe we should implement such an errorHandler in the future. @jtydhr88, @gamerson what do you think?

[2019-01-02 09:14] dmarks2 commented on #76
@jtydhr88 thank you for your feedback. I think we can even do both. Our plugin could first try to find the javascript files in the project depencencies (com.liferay.frontend.js.web and com.liferay.frontend.js.aui.web). If it does not find such dependencies we could deliver the lastest (Liferay 7.1.1 GA2?) javascript files as a fallback.

By this the developer can define a specific version of the l

[2019-01-02 09:16] jtydhr88 commented on #81
I like this idea and I opened the Jira issue for this, see here: https://issues.liferay.com/browse/INTELLIJ-30
but I would not like to do it in next release(1.2.0), we could do it in 1.3.0 or later.

[2019-01-02 09:22] jtydhr88 commented on #76
hey @dmarks2, thanks for interest on this implement, I'd like to see you can help to do it. But one more thing is that I may not put this support into next release(1.2.0), I'd like to have it in 1.3.0 or later.

[2019-01-17 08:52] dmarks2 opened #89 "OSGi component properties code completion does not work when using multiple service classes"
The code completion for OSGi component properties does not work when you are using multiple service classes. For example if you are using

`@Component(
    property = { "..." },
    service = {AddPortletProvider.class, ViewPortletProvider.class}
)
`

code completion does not work, i.e. it does not offer any properties.

@jtydhr88 I would like to fix that. Can you create a JIRA issue?

[2019-01-22 15:13] dmarks2 opened #91 "Performance warning for LiferayServiceXMLLineMarkerProvider"
In the log file a performance warning appears for the LiferayServiceXMLLineMarkerProvider. The following message appears in the log file:

`WARN - eInsight.daemon.LineMarkerInfo - Performance warning: LineMarker is supposed to be registered for leaf elements only, but got: XmlTag:entity (class com.intellij.psi.impl.source.xml.XmlTagImpl) instead. First child: XmlToken:XML_START_TAG_START (class co

[2019-01-22 23:12] joaorebelo-ar opened #92 "Launching Liferay in Tomcat with OpenJdk 11.0.2"
Hello team,

First of all, thank you very much for this plugin.

I have been trying to get Liferay 7.1 GA3 to run in Intellij IDEA Community 2018.3 using OpenJdk 11.0.2.

I keep running into the following error when starting the server while following your instructions:

I have removed all references of the property `java.endorsed.dirs` from Tomcat's configuration files namely **catalina.bat**. Li

[2019-01-22 23:37] jtydhr88 commented on #92
hey, thanks for reporting this issue, we will take a look today.

[2019-01-22 23:40] jtydhr88 commented on #89
Could you close it as it already is fixed, thanks!

[2019-01-23 02:10] jtydhr88 commented on #91
hey @dmarks2, opened here https://issues.liferay.com/projects/INTELLIJ/issues/INTELLIJ-40

[2019-01-23 02:14] jtydhr88 commented on #92
opened the jira issue here https://issues.liferay.com/projects/INTELLIJ/issues/INTELLIJ-41 and we will fix it in next release, thanks again for reporting.

[2019-01-23 03:41] Seiphon commented on #81
Hi @dmarks2 , thank you for your suggestion, I will think about that solution you mentioned. Could you please give more information about the "errorHandler" and where I can find the implementations which automatically create github or jira issues. Maybe I can refer that implementation. Thanks a lot.

[2019-01-23 07:55] #89 closed

[2019-01-23 08:09] simonjhy commented on #92
Hey, I remove the endorsed and try to start portal with command line. I found some exception with liferay portal and I confirmed this issue with portal team that the portal master branch can  start with JDK11. The published version maybe not.  We will remove this endorsed in next release version. Thanks

[2019-01-23 09:50] dmarks2 commented on #81
Hey @Seiphon,

I tried to implement an errorHandler in my own plugin. In that case it automatically creates a github issue. Unfortunately you will need an API key for github to do this and you cannot checkin the API key (github will remove it automatically for security reasons).

I followed a sample implementation from another plugin. See discussion and helpful links here:

https://intellij-suppor

[2019-01-23 10:23] joaorebelo-ar commented on #92
Yes. Through the command line I am able to start the server. It throws some exceptions, but the portal seems to run just fine. I did have a look at the modules loaded in the gogo shell and they seemed ok. The exceptions are annoying though. :)

[2019-01-24 03:53] jtydhr88 commented on #92
hey @joaorebelo-ar, the issue will be fixed in #91 and I have no idea about the exact day of next release as we released the latest one a few days ago, if you need this fix then you may need to build manually, let me know if you have any questions about this.

[2019-01-24 08:42] joaorebelo-ar commented on #92
@jtydhr88 I have seen the commit. Tackling the issue as fast as you did guys. Kudos!

[2019-01-25 07:45] #91 closed

[2019-01-25 09:49] jtydhr88 commented on #92
hey @joaorebelo-ar we already released the latest one with this fix, but it still is pending the Jetbrains approval, it will take 2 or 3 days normally.
So can you close this issue?

[2019-01-25 09:58] #92 closed

[2019-01-30 08:43] Seiphon commented on #81
Hi @dmarks2 , thank you so much for your help, that I can almost finish the implementation. But I still have a problem, I don't know how to generate my own token as .bin file to access github? Do you have any suggestion about that. Thank you again.

[2019-02-04 10:06] backtime opened #93 "Liferay Icon too big"
On IntelliJ IDEA 2018.3.4 Build #IU-183.5429.30 the Liferay icon has wrong dimension.

![screenshot 2019-02-04 at 11 05 38](https://user-images.githubusercontent.com/15326177/52201798-da909c00-286c-11e9-961f-023c481f34e3.png)

[2019-02-04 10:33] Camork commented on #93
Hey @backtime , can you post the details about how to reproduce this? and what is your computer's resolution?

[2019-02-04 15:32] simon387 opened #94 "Feature: support for Liferay 6.x"
Why there is no support for Liferay 6.x projects?

[2019-02-05 13:07] backtime commented on #93
Hi @Camork, I simply upgraded IntelliJ from 2018.3.2 to 2018.3.4, after upgrade I found this big icon.

I'm on mac, Osx MoJave (10.14.2) with native resolution:
On external monitor: 24-inch (1920 x 1200)
On Mac monitor: 15,4-inch (2880 x 1800)

The problem is present in both cases.

[2019-02-06 09:41] klis commented on #93
+1
My IntelliJ is 2018.3.4, Windows 10 on external monitor with resolution 1920 x 1200.

[2019-02-06 09:48] dmarks2 commented on #94
Hey @simon387,
most of the functionality of the plugin is focused on Liferay 7.x. But some features should still work on Liferay 6.x projects, as the functionality behind did not change between Liferay 6.x and Liferay 7.x.

Features which should still work for Liferay 6.x projects (untested):
- Service Line Markers (jump from service.xml to the implementation and back)
- code completion inside cus

[2019-02-06 11:04] simon387 commented on #94
thank you for the answers, so I have to use the lifeay IDE (eclipse based) and the liferay-plugin-sdk to create a new project and plugins : (

[2019-02-06 11:15] Camork commented on #93
hey @backtime @klis , thanks for report this bug and i can reproduce this since upgrade from 2018.3.2 to 2018.3.4, we will have a fix as far as possible.

[2019-02-11 02:43] jtydhr88 commented on #93
hey guys,
we will make a new release after https://github.com/gamerson/liferay-intellij-plugin/pull/106 merged, thanks all for reporting this issue!

[2019-02-12 03:08] jtydhr88 commented on #93
hey @backtime I released the new version 1.2.2 with this fix, but it needs to wait for JetBrains approval.
Could you close this issue after you verify it? thanks.

[2019-02-12 03:29] #94 closed

[2019-02-13 10:11] Camork opened #95 "[auto-generated:1631960852] Unspecified error"
- Plugin Name: Liferay IntelliJ Plugin
- Plugin Version: 1.2.2
- OS Name: Windows 10
- Java version: 1.8.0_152-release
- Java vm vendor: JetBrains s.r.o
- App Name: IDEA
- App Full Name: IntelliJ IDEA
- App Version name: IntelliJ IDEA
- Is EAP: false
- App Build: IU-183.5429.30
- App Version: 2018.3.4
- Last Action: null

[code]

[2019-02-13 10:12] #95 closed

[2019-02-14 03:24] Camork opened #96 "[Auto Generated:1631960852] Unspecified error"
test test test

----------------------

- Plugin Name: Liferay IntelliJ Plugin
- Plugin Version: 1.2.2
- OS Name: Windows 10
- Java version: 1.8.0_152-release
- Java vm vendor: JetBrains s.r.o
- App Version name: IntelliJ IDEA
- App Build: IU-183.5429.30
- App Version: 2018.3.4
- Last Action: EditorCopy

[code]

[2019-02-14 03:25] Camork commented on #96
- Plugin Name: Liferay IntelliJ Plugin
- Plugin Version: 1.2.2
- OS Name: Windows 10
- Java version: 1.8.0_152-release
- Java vm vendor: JetBrains s.r.o
- App Version name: IntelliJ IDEA
- App Build: IU-183.5429.30
- App Version: 2018.3.4
- Last Action: null

[2019-02-14 03:26] Camork commented on #96
- Plugin Name: Liferay IntelliJ Plugin
- Plugin Version: 1.2.2
- OS Name: Windows 10
- Java version: 1.8.0_152-release
- Java vm vendor: JetBrains s.r.o
- App Version name: IntelliJ IDEA
- App Build: IU-183.5429.30
- App Version: 2018.3.4
- Last Action: EditorBackSpace

[2019-02-14 03:27] Camork commented on #96
- Plugin Name: Liferay IntelliJ Plugin
- Plugin Version: 1.2.2
- OS Name: Windows 10
- Java version: 1.8.0_152-release
- Java vm vendor: JetBrains s.r.o
- App Version name: IntelliJ IDEA
- App Build: IU-183.5429.30
- App Version: 2018.3.4
- Last Action: EditorPaste

[2019-02-14 04:53] #96 closed

[2019-02-14 04:54] Camork opened #97 "[Auto Generated:1631960852] Unspecified error"
- Plugin Name: Liferay IntelliJ Plugin
- Plugin Version: 1.2.2
- OS Name: Windows 10
- Java version: 1.8.0_152-release
- Java vm vendor: JetBrains s.r.o
- App Version name: IntelliJ IDEA
- App Build: IU-183.5429.30
- App Version: 2018.3.4
- Last Action: null

[code]

[2019-02-14 04:54] #97 closed

[2019-02-14 05:21] Camork opened #98 "[Auto Generated:1631960852] Unspecified error"
- Plugin Name: Liferay IntelliJ Plugin
- Plugin Version: 1.2.2
- OS Name: Windows 10
- Java version: 1.8.0_152-release
- Java vm vendor: JetBrains s.r.o
- App Version name: IntelliJ IDEA
- App Build: IU-183.5429.30
- App Version: 2018.3.4
- Last Action: null

[code]

[2019-02-14 05:21] #98 closed

[2019-02-15 13:39] backtime commented on #93
Hi @jtydhr88 I just verified new plugin version, problem solved.
Thank you.

[2019-02-15 13:39] #93 closed

[2019-02-15 13:47] gamerson commented on #93
Thanks for the report Paolo!

On Fri, Feb 15, 2019 at 7:39 AM Paolo Galati <notifications@github.com>
wrote:

--
Greg Amerson
Liferay Developer Tools
Liferay, Inc. www.liferay.com

[2019-03-04 06:17] dantewang opened #99 "Liferay IntelliJ Plugin marks syntax errors on bnd.bnd files"
Liferay IntelliJ Plugin provides syntax highlight or analysis for bnd.bnd, however it marks various usages/formats used by liferay-portal as errors.

1. It doesn't recognize line wrapping represented by `\`
2. It can't correctly parse complicated syntax such as those inside `Provide-Capability`

For example, in https://github.com/liferay/liferay-portal/blob/master/modules/apps/staging/staging-bar-

[2019-03-06 18:30] gamerson commented on #99
hey @jtydhr88  can we create an INTELLIJ jira ticket for this and fix up our parser?

[2019-03-07 06:53] jtydhr88 commented on #99
open here https://issues.liferay.com/browse/INTELLIJ-53

[2019-03-07 12:18] dmarks2 opened #100 "Ability to debug JSPs in IDEA"
It has been asked in the "ask us anything" session (on 2019-02-22, see https://liferay-community.slack.com/archives/C9ERCNT0T/p1550844015031300) and also discussed in the Liferay forums: At the moment is seems that it is not possible to debug JSPs in IntelliJ IDEA (https://community.liferay.com/forums/-/message_boards/message/112440770)

If you use the "Liferay Server" Run Configuration it is not

[2019-03-07 13:50] gamerson commented on #100
Agreed, debugging JSPs is needed feature.

On Thu, Mar 7, 2019 at 6:18 AM Dominik Marks <notifications@github.com>
wrote:

--
Greg Amerson
Liferay Developer Tools
Liferay, Inc. www.liferay.com

[2019-03-07 23:53] jtydhr88 commented on #100
hey guys, I found a way to debug jsp in eclipse, see here:
![default](https://user-images.githubusercontent.com/860985/53997407-09a17280-4177-11e9-93a2-d2e3d0c86798.PNG)
but I have no idea why my way would not work in IntelliJ IDEA, it should work.
I will post more details later.

[2019-03-08 00:03] jtydhr88 commented on #100
the key is we do not "compileJSP" in build/deploy/watch process, so I run the task comileJSP manually first and drop and down it in Eclipse, eclipse is able to recognize the breakpoints, and debug successfully,
but I do the same steps, IntelliJ does not recognize the breakpoints.
![2](https://user-images.githubusercontent.com/860985/53997794-8f71ed80-4178-11e9-818a-05177b116879.PNG)
We need to fig

[2019-03-08 08:23] dmarks2 commented on #100
Hey @jtydhr88,

I had a look at how IntelliJ finds the correct position inside a JSP while debugging. There are so called "PositionManagers" which are able to map the compiled Java classes to JSPs.

If you have a "Tomcat" Run Configuration a so-called "JSR45PositionManager" is being activated by IntelliJ. This PositionManager is able to map Java Classes to JSPs (as Tomcat is a JSR-45 compatible se

[2019-03-08 13:59] jtydhr88 commented on #100
Great to see that and I opened the ticket here https://issues.liferay.com/browse/INTELLIJ-55

[2019-03-08 15:10] dmarks2 commented on #100
Good news: I did some tests with a custom "PositionManager". I am now able to debug JSPs in my own modules and in dependencies. I still have to make some tests if it works properly. If everything works well I will try to send a pull request next week.

Debugging in my own modules:
![jsp_debug_own_module](https://user-images.githubusercontent.com/10325752/54036722-a0445280-41bc-11e9-9b9e-b3c08cb95b

[2019-03-08 15:14] gamerson commented on #100
Ah very nice you can debug even in Liferay JSPs that are coming from
project dependencies.  It would be good if this would work from JSPs that
are inside a liferay workspace with target platform enabled.  @jtydhr88 we
should see if this would work in Eclipse as well (debugging a JSP from a
project dependency or a target platform artifact).

On Fri, Mar 8, 2019 at 9:10 AM Dominik Marks <notificatio

[2019-03-08 15:14] gamerson commented on #100
Good work guys @dmarks2  @jtydhr88

On Fri, Mar 8, 2019 at 9:13 AM Greg Amerson <gregory.amerson@liferay.com>
wrote:

--
Greg Amerson
Liferay Developer Tools
Liferay, Inc. www.liferay.com

[2019-03-08 18:29] sytolk opened #101 "Misssing diagram mode view for the service.xml file"
The same like Liferay Service Builder service.xml in Liferay Dev Studio CE:
https://dev.liferay.com/en/develop/tutorials/-/knowledge_base/7-1/defining-relationships-between-service-entities

[2019-03-11 02:24] jtydhr88 commented on #101
hey @sytolk there is no any diagram editors for xml files right now, I opened one ticket for that: https://issues.liferay.com/browse/INTELLIJ-56 but I could not ensure when we will implement it.

[2019-03-22 11:59] dmarks2 commented on #100
Sent as https://github.com/jtydhr88/liferay-intellij-plugin/pull/72

[2019-03-23 03:01] jtydhr88 commented on #100
sent here https://github.com/gamerson/liferay-intellij-plugin/pull/121

[2019-03-23 03:12] jtydhr88 opened #102 "OSGi diagram"
according to https://blog.jetbrains.com/idea/2019/03/intellij-idea-2019-1-release-candidate-is-out/
IntelliJ IDEA will have a cool feature for Maven in 2019.1, we may could base on it to build a similar one for OSGi.

[2019-03-25 08:27] #99 closed

[2019-03-25 08:27] #100 closed

[2019-03-25 08:27] #101 closed

[2019-03-28 10:16] dmarks2 opened #103 "Javascript inside aui:validator required tag"
It seem that it is possible to conditionally apply a "required" validator based on a Javascript function.

The IntelliJ plugin should detect this as Javascript, so that code completion etc. is available.

A Javascript function for a required validator tag looks like this:

[code]

@jtydhr88 could you create a JIRA ticket for this?

[2019-03-29 09:24] jtydhr88 commented on #103
open here https://issues.liferay.com/browse/INTELLIJ-61

[2019-04-03 12:36] dmarks2 commented on #103
@jtydhr88, @Seiphon Sent Pull Request here https://github.com/jtydhr88/liferay-intellij-plugin/pull/73

[2019-04-09 09:27] jtydhr88 commented on #103
@gamerson can you help to close this issue, thanks.

[2019-04-09 11:50] sytolk opened #104 "Optional DataSource/DB Schema parameter in new Liferay service-builder module"
I think this Intellij plugin is the right place to choose DB schema in new Liferay Module Dialog and based on this DB connection to generate basic service.xml structure with entity and columns.

![Screenshot_2019-04-09_14-43-36](https://user-images.githubusercontent.com/1415463/55798094-bf454580-5ad6-11e9-8cb9-c7b4ff56c128.png)

[2019-04-10 06:54] jtydhr88 commented on #104
hey @sytolk I opened the ticket here https://issues.liferay.com/browse/INTELLIJ-62

[2019-04-16 09:18] dmarks2 opened #105 "service.xml inspections"
I have seen some requests to make some improvements for the service.xml (a graphical wizard or a diagram editor). I've tried to reuse the "ER Diagram" functionality of IntelliJ to create a diagram from a service.xml. It is far from being ready, it's read-only for now, does not show relationships correctly etc.

As a first step to improve things in the service.xml, I would like to add some "inspect

[2019-04-18 05:46] dantewang opened #106 "IllegalArgumentException after opening the liferay-portal/modules project"
When opening project which is imported from liferay-portal/modules using Gradle with the intellij-plugin installed, `IllegalArgumentException` is thrown:

[code]

[2019-04-18 12:41] jtydhr88 commented on #105
hey @dmarks2 can you post some screenshots of ER Diagram or any examples? I'd like to talk @gamerson about that. thanks.

[2019-04-18 14:50] dmarks2 commented on #105
hey @jtydhr88,

here is a small screencast of the ER diagram. As already said, it is far from being complete...

![diagram](https://user-images.githubusercontent.com/10325752/56369626-04b1f300-61fa-11e9-9408-9530153e60ac.gif)

[2019-04-19 01:08] jtydhr88 commented on #106
hey @dmarks2 it seems relating to the frontend/javascript support, please let me know if you have time to take a look at it, otherwise I can investigate it, thanks.

[2019-04-23 08:09] dmarks2 commented on #106
hey @jtydhr88 it seems to have something to do with the `LiferayWorkspaceUtil.getTargetPlatformArtifacts() `method.

It seems that the sorting for the artifacts is not correct. As far as I understand it, it does not handle `null` values correctly. I can have a look at it and see if I can fix it.

Can you create a JIRA issue for this?

[2019-04-23 09:53] jtydhr88 commented on #106
hey @dmarks2 open here https://issues.liferay.com/browse/INTELLIJ-67

[2019-05-07 06:38] dmarks2 commented on #105
Hey @jtydhr88, can you create a JIRA issue for the "service.xml inspections" part?

[2019-05-17 03:04] jtydhr88 commented on #106
hey @gamerson can you close it, it should be fixed.

[2019-05-17 10:53] #106 closed

[2019-05-21 08:41] jtydhr88 commented on #105
The changes are merged, @gamerson can you close this issue?
Thanks a lot! @dmarks2

[2019-05-21 10:32] #105 closed

[2019-05-21 12:19] dmarks2 opened #107 "JSP inspections"
Similar to the service.xml inspections I would like to add some inspections for JSPs. Those should highlight common mistakes in JSPs.

The inspections I would like to add are:
* Check for double quotes inside taglib attributes
* String concatenation inside taglib attributes

The inspections will look like this:

Check for double quotes:
![jsp_inspections](https://user-images.githubusercontent.com/

[2019-05-21 14:07] jtydhr88 commented on #107
open here https://issues.liferay.com/browse/INTELLIJ-70

[2019-06-04 02:58] jtydhr88 commented on #107
hey @gamerson can you close this as we already merged it. thanks @dmarks2 a lot!

[2019-06-04 04:39] #107 closed

[2019-06-06 03:04] jtydhr88 opened #108 "JSP inspections error"
![picturemessage_bx4lsgiu qv5](https://user-images.githubusercontent.com/860985/59003976-a93fd100-884a-11e9-953e-71fe282d7e1d.png)
hey @dmarks2 it seems caused by your changes about jsp inspections, please let me if you have time to take a look at it, if not, I can take it.
Env is Intellij IDEA Ultimate 2019.1 + Lferay IntelliJ Plugin 1.5.0

[2019-06-06 03:06] jtydhr88 commented on #108
open ticket here https://issues.liferay.com/browse/INTELLIJ-73

[2019-06-06 08:22] dmarks2 commented on #108
hey @jtydhr88, I was not able to reproduce the problem with the same Environment. However I implemented a different way to determine if a TLD attribute supports runtime expressions. The new way parses the TLD files manually and does not rely on CustomTagDescriptorBaseImpl.

Sent as https://github.com/jtydhr88/liferay-intellij-plugin/pull/79

[2019-06-06 14:45] dmarks2 commented on #108
hey @gamerson, Terry asked to send the bugfix directly to you, so I sent it as https://github.com/gamerson/liferay-intellij-plugin/pull/145

[2019-06-06 14:54] gamerson commented on #108
Thanks Dominik, I'll merge it soon.

On Thu, Jun 6, 2019 at 9:45 AM Dominik Marks <notifications@github.com>
wrote:

--
Greg Amerson
Liferay Developer Tools
Liferay, Inc. www.liferay.com

[2019-06-12 09:44] lily94299570 commented on #108
hey @dmarks2 ,we found a new error after your last change.If you have time, can you look at it?Thanks.
![JSP inspections error-](https://user-images.githubusercontent.com/31531630/59341055-b9b7e600-8d39-11e9-9cb3-dde94a2391f1.png)

[2019-06-12 11:42] dmarks2 commented on #108
Hey @lily94299570,

can you tell me which IntelliJ version you are using?

I will try to get rid of dependencies to the JSP library of IntelliJ, but I still don't understand why IntelliJ cannot load those classes. At least in the Ultimate Edition of IntelliJ they should be available.

[2019-06-12 12:12] dmarks2 commented on #108
Hey @jtydhr88, hey @lily94299570,

I've sent a new PR which hopefully solves the problem:

https://github.com/jtydhr88/liferay-intellij-plugin/pull/80

[2019-06-18 07:47] dmarks2 commented on #108
Hey @jtydhr88, hey @lily94299570,

unfortunately I found another issue with my JSP inspections implementation. The following exception occurs when you try to open a pom.xml in a project.

So please leave the issue open, I will try to send another bugfix soon.

`java.lang.ClassCastException: com.intellij.psi.impl.PomTargetPsiElementImpl cannot be cast to com.intellij.psi.xml.XmlTag
	at com.liferay.

[2019-06-18 08:04] jtydhr88 commented on #108
hey @dmarks2 let's use the ticket INTELLIJ-73, thanks for reporting the issue.

[2019-06-20 09:52] henrisu opened #109 "Update CE 7.2.0 bundle url from rc2 to ga1"
Since CE 7.2.0-ga1 has been relased, should this be changed to the bundle url? https://github.com/liferay/liferay-intellij-plugin/blob/master/src/main/java/com/liferay/ide/idea/util/WorkspaceConstants.java#L30

currently points to rc2 release.

Let me know if you want me to create a pull request for this change.

[2019-06-20 14:00] gamerson commented on #109
Yes indeed we should change that.  Feel free to send a PR.

On Thu, Jun 20, 2019 at 4:52 AM Henri Suominen <notifications@github.com>
wrote:

--
Greg Amerson
Liferay Developer Tools
Liferay, Inc. www.liferay.com

[2019-06-26 10:40] lily94299570 commented on #108
@dmarks2 The problem is resolved,thanks for your help.
@jtydhr88 This issue is works for the last intellij-plugin-1.5.1,you can close this issue.

[2019-06-26 11:05] yanan commented on #109
Thank you so much for catching this @henrisu
I've sent a pr to remove these urls. Init bundle task on gradle/maven 7.2 worksapce will generate a 7.2.0 ga1 by default.
https://github.com/gamerson/liferay-intellij-plugin/pull/159

[2019-06-26 13:36] gamerson commented on #108
Thanks @dmarks2  for fix and @lily94299570  for testing.

[2019-06-26 13:36] #108 closed

[2019-07-05 20:00] dmarks2 opened #110 "Update XML Schemas and Portlet 3.0 Spec"
I would like to add XML Schema files for Liferay 7.2. and the Portlet 3.0 Specification. Additionally I would like to add the OSGi properties for the Portlet.class which are new from the Portlet 3.0 Specification.

@jtydhr88 can you create a Jira Issue?

[2019-07-08 02:09] jtydhr88 commented on #110
open here https://issues.liferay.com/browse/INTELLIJ-78

[2019-07-16 20:03] dmarks2 commented on #110
Pull request sent https://github.com/jtydhr88/liferay-intellij-plugin/pull/82

[2019-07-18 02:37] jtydhr88 commented on #109
@gamerson can you help to close this one?

[2019-07-18 02:46] jtydhr88 opened #111 "LSP support"
We plan to support Language Server Protocol(LSP) in all of GUI Dev Tools, such as DevStudio(Eclipse), IntelliJ IDEA, VS Code.
More Information:
https://langserver.org/
https://github.com/ballerina-platform/lsp4intellij
https://github.com/gtache/intellij-lsp
https://github.com/angelozerr/lsp4xml

[2019-07-18 18:56] #109 closed

[2019-07-22 10:13] #110 closed

[2019-07-26 14:28] dmarks2 commented on #111
LSP is an interesting topic. As far as I know LSP adds code completion features to specific languages or file types. For which languages or file types do you plan to add LSP support?

[2019-07-29 02:45] jtydhr88 commented on #111
hey @dmarks2
I am grateful that you are interesting on it.
According to LSP doc, it has not only a ability of code completion, but also Hover, Jump to def, Find references and Diagnostics.
For Liferay, it is just at beginning phase, I only worked out a demo to Greg, which can give the code proposals of all properties keys in portal.properties on your custom portal-ext.properties. Now it works well

[2019-07-29 02:56] jtydhr88 commented on #111
If you would like to see more code details, you can check my prs here:
server (blade) https://github.com/gamerson/liferay-blade-cli/pull/873
client (eclipse/vs code) https://github.com/gamerson/liferay-ide/pull/4601
Let me know if you want to try it.

[2019-07-30 11:07] dmarks2 commented on #111
Hey @jtydhr88,
I've implemented a small solution to make LSP work with IntelliJ.

To make it work, I had to make some small changes in the server part, see PR here: https://github.com/jtydhr88/liferay-blade-cli/pull/39

My implementation in the IntelliJ plugin can be found in this PR: https://github.com/jtydhr88/liferay-intellij-plugin/pull/83

For the portal-ext.properties files code completion n

[2019-07-30 13:34] jtydhr88 commented on #111
hey @dmarks2
That's super cool! really thanks for figuring out this issue!
I will have a discussion with Greg about the further plan of LSP for Liferay Dev Tool.

[2019-08-23 12:55] dmarks2 commented on #111
hey @jtydhr88,

any progress here? Did you discuss further plans for LSP with @gamerson?

[2019-08-26 16:37] gamerson commented on #111
Hey Dominik,

Sorry for the delay.  But we need to review the plans for an official LSP
for Liferay and determine what all it should include.  Just having a LSP
for Liferay that only supports portal-ext.properties editing I don't feel
is enough for us to try to release something.  Its good for POC, but I want
to try to see what else makes sense to incorporate for liferay projects.  I
would love fo

[2019-08-28 11:02] dmarks2 commented on #111
@gamerson I would like to join the discussion about what can be done with LSP. Just tell me when and how you would like to discuss / how to collect ideas about it.

[2019-09-06 13:20] dmarks2 opened #112 "Update taglib code completions for Liferay 7.1/7.2"
Several taglibs have been added in Liferay 7.1/7.2 (e.g. liferay-asset, liferay-comment, liferay-export-import-changeset) and other taglibs got new tags and attributes.

I would like to update the code completion features (language keys, css classes, Javascript, Java classnames) to support those new taglibs/tags/attributes.

@jtydhr88 can you create a JIRA ticket?

[2019-09-09 03:33] jtydhr88 commented on #112
opened here https://issues.liferay.com/browse/INTELLIJ-82
btw, we are starting to add LSP support for the three tools(eclipse, intelliJ, VS Code), and now it is under calculating requestments. Firstly, I will finish properties files support up, and then xml, in the future, I think the JSP/taglib support will be moved to LSP as well.

[2019-09-09 03:41] jtydhr88 commented on #112
I will post the requirements/schedule in BLADE repo later.

[2019-09-16 08:17] dmarks2 commented on #111
Hey @gamerson,

I already discussed with @jtydhr88 that there are plans to add XML support and JSP taglib support to LSP.

Some additional ideas I have:
* Move the OSGi component properties part to LSP (code completion and probably add a documentation lookup)
* Move bnd.bnd file support to LSP (the current implementation in the IntelliJ plugin is not working properly because it treats bnd.bnd file

[2019-09-18 09:05] dmarks2 commented on #111
@jtydhr88 I had a look at your implementation.

Just because I was interested I tried to integrate the Language Server into Sublime Text 3. However Sublime Text expects that the Server part provides a network socket (new ServerSocket()). However your current implementation tries to open a network connection to the client (new Socket()). Is that the correct way for the communication between an LSP

[2019-09-18 09:13] jtydhr88 commented on #111
@dmarks2 I did this way because the lsp4j expected.
I noticed this issue before(btw, lsp4xml also need to do the same as Sublime Text 3 you mentioned).
I can add new param may called --server/client to decide what we should create, new ServerSocket() or new Socket(), later this week.

[2019-09-18 09:50] jtydhr88 commented on #111
hey @dmarks2 I added parameter in here https://github.com/gamerson/liferay-blade-cli/pull/890
it expects that command is
`java -jar $bladeJarFilePath languageServer -p $port --socket-server`
let me know if you have any problems on it.

[2019-09-18 12:02] dmarks2 commented on #111
hey @jtydhr88,
I tried your implementation with Sublime Text 3. At least it does something, however code completion for e.g. portal-ext.properties looks a litte bit strange:

![image](https://user-images.githubusercontent.com/10325752/65146772-e6585980-da1c-11e9-9287-2a70111a3dc7.png)

[2019-09-18 12:31] jtydhr88 commented on #111
It looks like that they are possible values of the key “include-and-override”, see here https://github.com/liferay/liferay-portal/blob/master/portal-impl/src/portal.properties
I guess it is a bug of my code, can you try another supported file like gradle.properties in one Liferay workspace?

[2019-09-19 14:51] #112 closed

[2019-09-20 11:32] dmarks2 commented on #111
@jtydhr88 I tried with gradle.properties and .blade.properties. It is still the same here, the code completion seems to suggest some values but at the wrong position etc.

Here's a screenshot from a .blade.properties:

![image](https://user-images.githubusercontent.com/10325752/65323840-c3f44680-dbaa-11e9-8249-cfc749ec7c65.png)

If you want to try it yourself, here is my LSP.sublime-setings file:

[2019-09-20 14:34] jtydhr88 commented on #111
@dmarks2 it is a known issue and because the content is in draft when you type "=" to trigger proposals.
@Seiphon already sent the fix on it to me today, but I don't have time to review. see here https://github.com/jtydhr88/liferay-blade-cli/pull/42
I will merge the change next week if it works well.

[2019-09-30 04:45] jtydhr88 commented on #111
@dmarks2 do you have gmail and I can share a document about LSP with you?

[2020-01-30 21:03] BaranovNikita opened #115 "Run configuration for WildFly 16"
Hello! If i try create run configuration for Liferay 7.2 with WildFly 16 - i cant, because "Bundle type" field is empty after select server folder. But it work with WildFly 11

**WildFly 16:**
![image](https://user-images.githubusercontent.com/9808191/73490180-02054080-43bd-11ea-81d8-b9d6ad67806d.png)

**WildFly 11:**
![image](https://user-images.githubusercontent.com/9808191/73490202-0e899900-43b

[2020-02-17 01:05] yanan commented on #115
Thanks for catching this, please watch https://issues.liferay.com/browse/INTELLIJ-99.

[2020-02-18 13:21] BaranovNikita opened #117 "JDK 11 support"
Cant run Liferay with Wildfly in JDK 11. Error: -Xbootclasspath/p is no longer a supported option.

[2020-02-18 14:59] BaranovNikita commented on #115
Yep. Now i can select wildfly > 10. But has error:
java.lang.NoClassDefFoundError: org/wildfly/common/net/HostName

![image](https://user-images.githubusercontent.com/9808191/74747686-6149c880-5278-11ea-88a6-10520bffa7f0.png)

[2020-03-11 13:16] dmarks2 opened #121 "Relative paths are not resolved properly in XML files"
I've found a small issue that I would like to fix.

In the Liferay IntelliJ plugin there is a functionality which resolves files inside XML files. For example when you create a `default.xml` to define the available permission actions you can include other files here.

The current implementation does not properly resolve relative paths in those files. Code completion does not work and resolving the

[2020-03-26 02:19] simonjhy commented on #121
Hi @dmarks2, I will create jira ticket. Thanks dominik

[2020-03-26 02:22] simonjhy commented on #121
its the jira link: https://issues.liferay.com/browse/INTELLIJ-110

[2020-03-26 02:26] simonjhy commented on #117
we have fix it in 1.7.0. Here is jira ticket https://issues.liferay.com/browse/INTELLIJ-87

[2020-03-26 02:26] simonjhy commented on #115
we have fixed this. Here is jira link: https://issues.liferay.com/browse/INTELLIJ-99

[2020-03-26 16:07] dmarks2 commented on #121
Hi @simonjhy,

thanks for creating the ticket. Here is the pull request: https://github.com/simonjhy/liferay-intellij-plugin/pull/21

[2020-04-02 11:36] #121 closed

[2020-04-15 06:49] dmarks2 opened #123 "Renaming packages may remove the package name from bnd.bnd files"
If you rename a package those changes should be reflected in the bnd.bnd file, too. This already works, but leads to problems sometimes.

Renaming works properly in a bnd.bnd file which does not contain a line break between the Header and the Value, e.g. like this

[code]

However if the bnd.bnd file contains a line break, the renaming of the package will actually remove the whole package from the

[2020-04-15 23:02] gamerson commented on #123
Hey Dominik

I am going to get that changed so you can create an issue in the future (or
anyone else!)

Here is the new ticket
https://issues.liferay.com/browse/INTELLIJ-115

On Wed, Apr 15, 2020 at 1:50 AM Dominik Marks <notifications@github.com>
wrote:

--
Greg Amerson
Liferay Developer Tools
Liferay, Inc. www.liferay.com

[2020-04-17 07:34] #117 closed

[2020-04-17 07:34] #115 closed

[2020-05-17 20:06] ingensky opened #124 "Disables gradle for non liferay projects"
Plugin version 1.7.3
Idea version 2020.1.1
When plugin is enabled, gradle of non related to liferay projects does not work properly.
Dependencies are downloaded, but there is no visibility for them in project.
External Libraries contains only Java JDK
All imports are red and unavailable.
Reproduces on any non liferay gradle (gradle-wrapper, tryied several different versions) project

Reproduces on

[2020-05-18 21:31] simonjhy commented on #124
Hi ingensky, thanks for finding the bug(https://issues.liferay.com/browse/INTELLIJ-124). we found this issue and fixed it. We will publish a new vesion plugin soon.

[2020-05-18 22:19] gamerson commented on #124
Thanks for the repo @ingensky   I will close this, since we have already fix this and will be available in next plugin version.

[2020-05-18 22:19] #124 closed

[2020-05-19 17:50] ingensky commented on #124
Thanks a lot guys! That was fast)

[2020-06-04 06:10] dmarks2 commented on #123
Closing this issue as no longer reproducible.

[2020-06-04 06:10] #123 closed

[2020-06-23 23:53] #102 closed

[2020-08-26 18:27] jtydhr88 opened #125 "service builder 7.3 URI could not be recoginized"
create one 7.3 Liferay Workspace along with one Service Builder module, then open service.xml, the DTD URI will be marked as red, it leads that XML editor is not able to give proposals basing on XML features.
![image](https://user-images.githubusercontent.com/860985/91341777-0903fe00-e7a8-11ea-8d9c-3664c903e483.png)

[2020-08-26 19:19] jtydhr88 opened #126 "JSP could not detect the variables created by tags in IDEA Ultimate edition"
Create one 7.3 Liferay workspace along with one mvc-portlet module, open view JSP, and add the following codes, notice the testURL **marked** by red, means it is not able to be detected in this JSP file, but it should.
![image](https://user-images.githubusercontent.com/860985/91346534-fd680580-e7ae-11ea-88b3-4c693bb011ce.png)

[2020-08-31 07:26] dmarks2 commented on #125
@jtydhr88 nice to read from you again. I could add the DTD files to the plugin, so that the Liferay 7.3 DTD are recognized, too.

I will check that and send a PR...

[2020-08-31 07:28] dmarks2 commented on #126
@jtydhr88 I know that it was working in the past. It seems that it stopped working somewhere with IntelliJ 2019.3 or so.

I've seen that problem, too, but I don't have a solution for that yet. If I am able to fix it I will send a PR...

[2020-09-01 11:39] jtydhr88 commented on #125
hey @dmarks2, I have quit from Liferay Company last year and go back to school to have master's courses, but I really have a passion to contribute to this project as a community user, like you.
As the position changed, please send your PR to @simonjhy, he is the lead right now, he will help to review your PR.
I am glad to see you guys here again!

[2020-09-01 13:05] gamerson commented on #125
Thanks Terry and Dominik,  let me know if there is anything I can do to
help.  Simon can review and I'll merge any changes and we can get a new
plugin published.

On Tue, Sep 1, 2020 at 6:39 AM Terry Jia <notifications@github.com> wrote:

--
Greg Amerson
Liferay Developer Tools
Liferay, Inc. www.liferay.com

[2020-09-03 10:08] dmarks2 commented on #126
Hey @jtydhr88,

I was able to reproduce the problem. It seems that IntelliJ tries to load the ActionURLTei.class. However that does not work because the class needs com.liferay.portal.kernel.util.Validator (inside portal-kernel.jar) and that class again needs com.liferay.portal.kernel.util.StringBundler (again inside portal-kernel.jar) and that class again needs com.liferay.petra.lang.CentralizedT

[2020-09-03 13:51] gamerson commented on #126
Hey Dominik,  Could you try this dependency in the mvc-portlet project?

compileOnly group: "com.liferay.portal", name: "release.portal.api",
version: "7.3.4-ga5"

You can remove all of the other `compileOnly` dependencies in that
mvc-portlet project as the "release" api has everything in it that you
should need to compile against.  Let me know how it goes.

On Thu, Sep 3, 2020 at 5:08 AM Dominik

[2020-09-20 19:39] ankurjhawar opened #128 "Liferay Plugin 1.7.4 failing on Intellij 2020.2.2 CE"
Hello,

I am using  Intellij 2020.2.2 CE with Liferay Plugin 1.7.4 and it fails with the following exception:

com.intellij.diagnostic.PluginException: Cannot create class com.liferay.ide.idea.core.LiferayPostStartupActivity [Plugin: com.liferay.ide.intellij.plugin]
	at com.intellij.serviceContainer.ComponentManagerImpl.instantiateClass(ComponentManagerImpl.kt:656)
	at com.intellij.openapi.extensi

[2020-09-21 10:26] dmarks2 commented on #128
This is probably related to https://issues.liferay.com/browse/INTELLIJ-125

[2021-01-01 12:49] jtydhr88 commented on #125
Closed as it fixed in the latest version

[2021-01-01 12:49] #125 closed

[2021-01-02 09:50] jtydhr88 commented on #126
Fixed in intellij plugin 1.8.1 with portal 7.3 ga6, and configured target.platform.index.sources = true in liferay workspace.
Closed.

[2021-01-02 09:50] #126 closed

[2021-01-02 10:02] jtydhr88 commented on #128
I am using IDEA 2020.2.1 with liferay plugin 1.8.1 and it works for me. You could try the latest version of liferay version.

[2021-01-02 10:15] jtydhr88 opened #129 "For better user experience, the properties specially to Liferay should not be analysis by IntelliJ"
Due to the analysis of IntelliJ, the keys in properties files would be marked as "gray" color like comment, but it should not.
![image](https://user-images.githubusercontent.com/860985/103455165-95f62f80-4d25-11eb-927e-ca7fd1e3923c.png)
The warming of "unused properties" also should be removed:
![image](https://user-images.githubusercontent.com/860985/103455184-cccc4580-4d25-11eb-8dec-bb8c3311e2da

[2021-01-02 10:19] jtydhr88 commented on #129
Btw, the behavior of portal-ext.properties and service.properties seem to be correct.
![image](https://user-images.githubusercontent.com/860985/103455324-0cdff800-4d27-11eb-9829-1b8d16b38d3e.png)
![image](https://user-images.githubusercontent.com/860985/103455331-15383300-4d27-11eb-834e-9bc56c94b1cb.png)

[2021-01-02 10:32] jtydhr88 commented on #129
For Language properties, almost keys could be recognized in JSP files, that's great:
![image](https://user-images.githubusercontent.com/860985/103455461-6268d480-4d28-11eb-93ad-900065a51a5a.png)
However, for the keys starting with "javax.portlet.title":
![image](https://user-images.githubusercontent.com/860985/103455491-9643fa00-4d28-11eb-95a5-71ad7e04b907.png)
because its last part is used in Jav

[2021-01-04 08:28] dmarks2 commented on #129
Hey @jtydhr88, thank you for your findings.

I think it should be possible to remove the "unused property" warning and the grayed out text with an "implicitUsageProvider".

I will have a look and send a pull request when I have time...

[2021-01-05 01:06] jtydhr88 opened #130 "Due to incorrect, the suggestions would be confuse and noisy for users sometimes"
![image](https://user-images.githubusercontent.com/860985/103594760-91539600-4f34-11eb-8fab-1eb5d52c84f6.png)
As the screenshot shows, in the JSP files, only the fourth suggestion is correct and a real need for users, but the first three from Liferay are incorrect.
The wrong behavior happens in both Java Class and Liferay Class.
The analysis of the Liferay IntelliJ Plugin should be more precise, o

[2021-01-05 01:10] jtydhr88 commented on #130
Btw, the action "Import class" show always be the top/first, because this showing means IntelliJ already find out the class information from the current classpath.
![image](https://user-images.githubusercontent.com/860985/103595112-98c76f00-4f35-11eb-8d59-c0d94236caac.png)

[2021-01-06 13:12] dmarks2 commented on #129
Hey @jtydhr88,

I thought a little bit about the Language.properties. I think the following properites should be "implicitly" used, i.e. not shown with an "unused property" warning. What do you think? Did I miss some property?

* javax.portlet.title.*     (portlet titles)
* model.resource.*      (model resource names for permissions)
* action.*                     (additional actions for permissio

[2021-01-06 14:29] jtydhr88 commented on #129
@dmarks2 I did a bit of research in the portal master source https://github.com/liferay/liferay-portal/blob/master/portal-impl/src/content/Language.properties, and it seems has a little more:

- javax.portlet.description.*
- javax.portlet.long-title.*
- category.*

Not only these, after checking all of Language.properties in the liferay built-in modules, there are some keys "looks like" special:

[2021-01-16 01:33] jtydhr88 opened #131 "NPE happened for non-liferay project"
When working in a non-liferay-workspace project in IntelliJ IDEA installed with Liferay plugin, it will throw NullPointerException:
![image](https://user-images.githubusercontent.com/860985/104793477-bde19a80-57dd-11eb-8b24-c28c2c4b4a20.png)
Steps to reproduce:
1. create a maven project.
2. write some codes.
3. see the right-bottom icon

[2021-01-18 02:19] lily94299570 commented on #131
Hi @jtydhr88 ,
This problem has been fixed in the latest release 1.9.0, you can install 1.9.0 with intellij 2020.3 and try again. If you have any problems, please contact us again, thanks.

[2021-01-18 07:38] dmarks2 commented on #129
In my opinion we should use the properties which are typically used by module developers and not all properties found somewhere in the Liferay source code. So in my opinion those would be:

- javax.portlet.title.*
- javax.portlet.description.*
- javax.portlet.long-title.*
- model.resouce.*
- action.*
- category.*

[2021-01-19 01:22] yanan commented on #131
Closing this and please free feel to reopen/create a new one if there is anything, thanks.

[2021-01-19 01:22] #131 closed

[2021-01-19 11:03] jtydhr88 commented on #129
@dmarks2 I agree with you

[2021-01-26 08:16] dmarks2 commented on #129
I've created a Jira issue for this: https://issues.liferay.com/browse/INTELLIJ-169

I will have a look at it soon and probably send a PR.

[2021-03-04 13:16] dmarks2 commented on #129
@jtydhr88 , @gamerson: Just sent a PR as https://github.com/gamerson/liferay-intellij-plugin/pull/361

[2021-03-04 15:54] gamerson commented on #129
Thanks Dominik, I'll review it today.

On Thu, Mar 4, 2021 at 7:17 AM Dominik Marks <notifications@github.com>
wrote:

--
Greg Amerson
Liferay Developer Tools
Liferay, Inc. www.liferay.com

[2021-03-04 19:20] #129 closed

[2021-03-23 12:53] dmarks2 opened #132 "OSGi component property code completion does not work for single properties"
OSGi component properties can be written with an array initializier or with a single value.

Code completion for those properties only works when "property" is an array, e.g.:

![image](https://user-images.githubusercontent.com/10325752/112149206-056e1380-8bdf-11eb-8626-d6f3d3f05552.png)

However if property is just a single value, code completion does not work and suggests some arbirtrary values:

[2021-05-06 09:41] SDGItalySrl opened #134 "Intellij ultimate 2021.1 hangs on mac os 11.3 using plugin 1.9.1"
Step to reproduce
install liferay plugin
create a new module
select Liferay and then Liferay gradle workspace, click on next
Enter a module name, check on Show All Product Version
Select dxp-7.2-fp9
Click on finish

Intellij hangs with ball with beach ball

[2021-05-06 14:20] gamerson commented on #134
Thanks for the report.  We will take a look.

On Thu, May 6, 2021 at 4:41 AM SDG ***@***.***> wrote:

--
Greg Amerson
Liferay Developer Tools
Liferay, Inc. www.liferay.com

[2021-05-07 03:16] yanan commented on #134
I can't reproduce this on my side, are there any other steps/configs to reproduce this?

[2021-05-14 12:22] dmarks2 commented on #132
created a JIRA issue here: https://issues.liferay.com/browse/INTELLIJ-184

[2021-05-18 13:54] gamerson commented on #132
Fixed here: https://github.com/liferay/liferay-intellij-plugin/commit/d626124339c5fa4db26e745f59dde24aa6bf0824

[2021-05-18 13:54] #132 closed

[2021-06-14 06:23] horstLei opened #135 "Liferay Plugins 1.9.2 / IntelliJ 2021.1.2 throws Nullpointer on MacOS 11.4"
hi. it seems with the new version 11.4 there is a File access Problem which throws a Nullpointer

`java.lang.NullPointerException
	at java.base/sun.nio.fs.UnixFileSystem.getPath(UnixFileSystem.java:271)
	at java.base/java.nio.file.Path.of(Path.java:147)
	at java.base/java.nio.file.Paths.get(Paths.java:69)
	at com.liferay.ide.idea.server.LiferayServerConfiguration.clone(LiferayServerConfiguration.j

[2021-06-15 02:17] yanan commented on #135
Hello @horstLei ,

Thanks for the report. And we've fixed this in this ticket [INTELLIJ-200](https://issues.liferay.com/browse/INTELLIJ-200), will release a new 1.9.3 soon.

[2021-06-17 00:25] yanan commented on #135
Hello @horstLei , here is the new 1.9.3 plugin which fixed the problem:
https://plugins.jetbrains.com/files/10739/122894/liferay-intellij-plugin-1.9.3.zip

[2021-06-21 13:40] horstLei commented on #135
perfect issue solved
thnx for your fast work :-)

[2021-06-21 13:40] #135 closed

[2021-08-02 01:33] #134 closed

[2021-08-02 01:35] #128 closed

[2021-10-22 09:47] muraca opened #162 "Create Project Fragment helper"
It would be useful to have a Create Project Fragment helper like the one in Eclipse:
![jsp-fragment-hook-liferay-aspiresoftserv2](https://user-images.githubusercontent.com/56828990/138433013-7e18e39e-bbbd-40f9-8c2a-9e668baa843f.png)

Then select the host bundle, the version, and the files to copy inside the fragment to override.
![jsp-fragment-hook-liferay-aspiresoftserv3](https://user-images.gith

[2021-10-26 06:55] SabineEmbacher opened #163 "Unable to create Theme for 7.4.2"
With the Liferay Plugin for intellij IDEA I am able to create a new project for liferay 7.4.2 CE GA3.
But if I want to create a new theme within the project, I get the following error message:

![image](https://user-images.githubusercontent.com/209032/138823794-8d01b914-3516-414e-972b-c98709c3812b.png)

[2021-12-14 08:07] ybroeker opened #174 "IllegalArgumentException: invalid version "1.8.0_312": non-numeric "0_312""
When starting the liferay server via IntelliJ IDEA, parsing the JDK version fails for some JDKs and the server cannot be started. This happens e.g. with the 1.8-JDKs installed directly via IntelliJ (e.g. `corretto-1.8.0_312`).

<details>
  <summary>Stacktrace</summary>

[code]
</details>

[2021-12-14 16:19] jtydhr88 commented on #174
hi @ybroeker, I guess the plug-in would not support 1.8 version of Java , can you try some newer one, such as Java 11?

[2021-12-15 07:22] ybroeker commented on #174
Since the error is in code that is explicitly there for Java 8, that would not be necessary if Java 8 is not supported?
The Java version itself does not trigger the error, but the parsing of the version with `org.osgi.framework.Version`, which cannot parse JDK versions.

Locally I already fixed the problem, I can submit a pull request later.

[2021-12-19 06:38] rahmatjafari commented on #174
Thanks @ybroeker. It worked for me.

[2021-12-20 03:35] simonjhy commented on #174
it was fixed https://github.com/liferay/liferay-intellij-plugin/pull/176, thanks @ybroeker

[2021-12-20 03:35] #174 closed

[2022-02-01 21:28] jtydhr88 opened #180 "Language properties validation issue"
Currently, if we create a resource bundle module, and make it pointing to a Language properties file, the Language properties will show the keys are unused, and give many warning:
![image](https://user-images.githubusercontent.com/860985/152054278-9e295e70-3d94-45e0-8fbf-2eefd2cd3b29.png)
Since this resource bundle file will be used in portal side, it is better to disable the validation.

[2022-02-01 21:32] jtydhr88 opened #181 "add hyperlink to language properties files"
If we create a resource bundle module and link a language properties file in java class, it is better to have a validation and hyperlink (quick click to):
![image](https://user-images.githubusercontent.com/860985/152054808-2b803e6a-2237-4638-82cf-5640e4756a59.png)

[2022-02-01 21:35] jtydhr88 commented on #162
Hi @muraca , I think Fragment project is a legacy, and would not has support in IntelliJ plugin.

[2022-02-02 07:59] dmarks2 commented on #181
Hey @jtydhr88,

that is a good idea. I will try to implement that feature...

[2022-02-22 12:13] rosenhristov opened #183 "Liferay plugin 2.0.0 for IntelliJ does not recognizes the Java version in case underscore is present(e.g. 1.8.0_292)"
I get the following exception when I try to start a Liferay application using IntelliJ IDEA with the Liferay plugin. It cannot recognize the Java version if it contains underscore, e.g. 1.8.0_292. I tried to change the version but it still complains for this one in particular:
[code]

[2022-02-23 01:18] yanan commented on #183
Hello,
Thanks for reporting. The problem has been fixed on https://issues.liferay.com/browse/INTELLIJ-223. Here is a snapshot if you would like to try. Please feel free to let us know if there is anything.
[liferay-intellij-plugin-2.0.1.zip](https://github.com/liferay/liferay-intellij-plugin/files/8121217/liferay-intellij-plugin-2.0.1.zip)

[2022-03-18 21:39] jtydhr88 opened #189 "It is better to have a quick add button to add Web Facet for Liferay Module"
Currently, if we import an existing Liferay workspace project, it would not recognize the modules should be "Web".
That means, the users have to add "Web" facet manually, along with configure the web root to enable some web features.
![image](https://user-images.githubusercontent.com/860985/159085931-6833f22d-33d9-47ff-a19e-0ebfbca9b697.png)
Solution #1, adding a new button inside right click menu

[2022-03-31 15:11] #183 closed

[2022-04-21 12:46] jtydhr88 opened #203 "The constructors of the classes which implement ServiceWrapper should not be marked as grey(unused)"
For the OSGi components which implement ServiceWrapper, the classes will be used in portal layer, not from local side, so the constructors should be normal, rather than being marked as unused.
![image](https://user-images.githubusercontent.com/860985/164461078-159f9271-3827-465f-b598-cf8970723942.png)

[2022-04-27 12:24] dmarks2 commented on #203
Yes @jtydhr88 , those ServiceWrappers are called by OSGi, so they are "implicitly" used.

I think this would be true for every class annotated with @Component, right? Did not see many components having an explicit constructor, but if there is one I think it will be called by OSGi anyway.

So "every" constructor in a @Component should not be marked as unused. What do you think?

[2022-04-27 12:49] jtydhr88 commented on #203
@dmarks2 I agree with you, the class with @component means it will be called by OSGi, and should be marked as normal.

[2022-04-29 06:04] dmarks2 commented on #203
@jtydhr88, @simonjhy I've created a ticket for this feature: https://issues.liferay.com/browse/INTELLIJ-236

Think it should be easy to implement, I will have a look at it...

[2022-04-29 13:13] jtydhr88 commented on #203
thanks @dmarks2!

[2022-04-29 13:16] jtydhr88 opened #204 "add a liferay button to create DB quickly"
this is better to have a button under Liferay Menu, and allows user to create DB quickly, since on local dev env, the DB configuration already is in liferay workspace properties, we can read it , and run SQL directly

[2022-05-06 03:00] simonjhy commented on #204
@jtydhr88 Did you mean open a DB view in intellij like we provided the function open db in LDS?

[2022-05-06 12:18] jtydhr88 commented on #204
hi @simonjhy , the way you mentioned is one approach
and in my mind, I just think: one button click -> read mysql configuration from workspace -> check the DB existed or not -> if not, create it by backend sql

[2022-05-06 12:34] jtydhr88 opened #205 "Feature request - able to create a json with layout content reading from DB"
In that latest DXP, Liferay has a new layout type call **fragment** or **content**.
Not like a widget/portlet layout, fragment layouts store the structure as json in DB.
In some cases, developers need to read the json and store in their custom module, so it is better to have a way to create a json with this content from DB.
Some initial ideas:
1. a menu item under new -> file to popup a window
2.

[2022-05-06 12:39] jtydhr88 opened #206 "DB support"
in some requirement, DB connection is needed, such as:
- https://github.com/liferay/liferay-intellij-plugin/issues/204
- https://github.com/liferay/liferay-intellij-plugin/issues/205

it is better to support DB connection from low layer.
Actually, all information of DB connection is already provided in liferay workspace, and mysql library is provided by intellij layer or can be embedded by this pl

[2022-06-24 14:01] anthonybaudouin opened #217 "Target Platform Indexing not working when Workspace is on WSL2 distribution"
Hello,

I'm working on Windows 10 + WSL2 (Ubuntu 20.04.4 LTS).
My Liferay Workspace is located in the WSL2 distribution and I observe an issue with the Liferay Target platform indexing feature: only gradle dependencies explicitely declared in the workpace's build.gradle files are visible in IntelliJ "External Libraries" section whereas we should expect that all dependencies included in Liferay BOM

[2022-07-07 01:07] simonjhy commented on #217
@anthonybaudouin thanks for using our plugin, we will firstly check it in local.

[2022-07-07 03:52] simonjhy commented on #217
what's product or target platform version you used ? I tested the latest dxp-7.4-u31 and it can download the target plaform and  are visible in IntelliJ "External Libraries" section

[2022-07-07 07:26] anthonybaudouin commented on #217
@simonjhy, whatever the Liferay version I used (dxp-7.4-u31), none Liferay dependencies are visible in "External libraries" section.
The attached screenshot shows this behavior.

![target_platform_issue_under_wsl2](https://user-images.githubusercontent.com/58040755/177716091-267400f9-6fdb-49c0-8a60-9873c314deb0.png)

[2022-07-11 07:23] simonjhy commented on #217
@anthonybaudouin  we reprodcue this issue. Its an issue that java io file can not return correcty absolute file path when the module project stored in wsl environment. Here the jira ticket https://issues.liferay.com/browse/INTELLIJ-246

[2022-07-11 08:45] anthonybaudouin commented on #217
Great news @simonjhy. Hoping a fix will be provided soon :)

[2022-07-14 22:15] #217 closed

[2022-07-29 13:40] rimesc opened #231 ""Portal bundle type is invalid" after upgrading to 2.0.2"
After upgrading to version 2.0.2 of the plugin and attempting to launch Liferay, I get the following error:

Editing the launch configuration displays the following error at the bottom of the dialog:

Newly-created launch configurations have the same error.

### Stack trace
[code]

As a workaround, running InitBundle to download a new Liferay bundle fixes the issue, but at the expense of throwing

[2022-09-05 14:05] dmarks2 commented on #203
Feature is implemented in Version 2.0.2. Issue could be closed @jtydhr88 .

[2022-09-05 14:07] dmarks2 commented on #181
created a ticket, will look into it... https://issues.liferay.com/browse/INTELLIJ-251

[2022-09-05 14:07] jtydhr88 commented on #203
Thanks to let me know!

[2022-09-05 14:07] #203 closed

[2022-09-05 21:30] jtydhr88 opened #232 "Groovy support"
in daily dev, it is common to run groovy script from System Admin - Script.
It it better to hava abilitity to write groovy script in IntelliJ and run it on running local server

[2022-09-09 11:19] dmarks2 commented on #232
@jtydhr88 That is a nice idea. I will have a look if that would be possible.

[2022-09-09 11:54] jtydhr88 commented on #232
thanks @dmarks2 ! I usually want to implement my requirement by myself, but now I am busy on other project.
about this one, the hard point I assue is how send the script to server as admin, but it may be resolved if Default Admin is configured in portal-xx.properties.

[2022-09-09 11:57] jtydhr88 commented on #232
or let liferay plugin store local admin username/pwd in server configuration (as what we did in Eclipse DevStudio)

[2022-11-28 08:13] simonjhy commented on #231
I tested with a customized bundles location and I did not reproduce your error. Here is scrren snapshot
![Screenshot from 2022-11-28 16-12-26](https://user-images.githubusercontent.com/5745444/204226699-a0bd6bb1-08ee-4f31-8ddf-88f02af3e0c0.png)